.activity{
    width: 19rem;
    height: 30rem;
    background-color: white;
    border-radius: 0.5rem;
}
.activity img{
    width: 18rem;
    height: 16rem;
    border-radius: .5rem;
    margin: 0.5rem;
}
.activity-container{
    padding: 1rem;
}
.activity-container h5{
    margin: 0;
}
.activity-container button{
    background-color: #3087f2;
    width:90%;
    border: none;
    margin-top: 3rem;
    border-radius: 0.5rem;
}
.activity-container button:hover{
    background-color: aqua;
}
.btn-text{
    color: white;
    margin: 0.5rem;
}
